body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.dark-body {
  background-color: black;
  color: white;
}
/* Color related Styles */
.gray {
  color: gray;
}

.selected {
  opacity: 0.4;
}

.imageHW {
  height: 20px;
  width: 20px;
}

.hamburger-menu {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.hamburger-menu:hover {
  opacity: 0.4;
}

#calculator-buttons-numbers {
  background-color: #ffffff;
  font-weight: bolder;
}

#calculator-buttons-result {
  background-color: lightblue;
}

/* Styles for calculator body */
.calculator-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.enclosing-calculator {
  width: 500px;
  height: 850px;
  background-color: #eff1f3;
  border-radius: 20px 20px 0 0;
}

.dark-enclosing-calculator {
  background-color: rgb(36, 38, 39);
}

.text-box {
  height: 150px;
  display: flex;
}

.calculator-input {
  width: 400px;
  padding: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: end;
  font-size: 50px;
  font-weight: bolder;
}

.calculator-input:focus {
  background-color: transparent;
}

.calculator-input::placeholder {
  color: black;
}

.dark-calculator-input {
  color: white;
}

.dark-calculator-input::placeholder {
  color: white;
}

.advanced-operations {
  height: 200px;
}

.deg-fe {
  display: flex;
  gap: 70px;
  height: 40%;
  font-weight: bold;
  align-items: center;
  margin-left: 30px;
}

.deg-fe > div {
  cursor: pointer;
}

.deg-fe > div:hover {
  opacity: 0.4;
}
/* Styles for history related UI */
.modular-operation {
  display: flex;
  gap: 5px;
  height: 30%;
  align-items: center;
}

.modular-operation > div {
  flex: 1;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modular-operation > div:hover {
  opacity: 0.4;
}
/* Styles for dropdown for functions and trignometry related functions */
.trignometry-functions {
  display: flex;
  gap: 70px;
  height: 30%;
  align-items: center;
  margin-left: 30px;
}

.trignometry-functions > div {
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.trignometry-functions > div:hover {
  opacity: 0.4;
}

.trignometry-functions > div > select {
  border: none;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}
/* Styles for calculator buttons */
.calculator-buttons {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
}

.calculator-buttons > div {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.calculator-buttons > div:hover {
  opacity: 0.4;
}

.history-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}

.history-section::-webkit-scrollbar {
  display: none;
}

.close-history {
  cursor: pointer;
}

.history-title-clear-button {
  display: flex;
}

.history-title {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.clear-history-button {
  width: 45%;
  display: flex;
  justify-content: center;
}

.clear-history-button > button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.history-data {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 20px;
  cursor: pointer;
}

.history-data:hover,
.clear-history-button > button:hover {
  opacity: 0.4;
}

.no-history-content {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 520px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .enclosing-calculator {
    width: 400px;
    border-radius: 0;
    height: 800px;
    position: fixed;
    top: 0;
  }

  .history-section {
    height: 750px;
  }

  .text-box {
    width: 400px;
    position: fixed;
    top: 0;
  }

  .calculator-input {
    width: 300px;
  }

  .advanced-operations {
    width: 400px;
    position: fixed;
    top: 150px;
  }

  .calculator-buttons {
    width: 400px;
    height: 450px;
    position: fixed;
    top: 350px;
  }
}

@media screen and (max-width: 410px) {
  body {
    overflow: hidden;
  }

  .enclosing-calculator {
    width: 350px;
    border-radius: 0;
  }

  .text-box {
    width: 350px;
    position: fixed;
    top: 0;
  }

  .calculator-input {
    width: 250px;
  }

  .advanced-operations {
    width: 350px;
    position: fixed;
    top: 150px;
  }

  .calculator-buttons {
    width: 350px;
  }
}

@media screen and (max-height: 803px) {
  .text-box {
    position: fixed;
    top: 0;
  }

  .enclosing-calculator {
    height: 750px;
    position: fixed;
    top: 0;
  }

  .advanced-operations {
    height: 100px;
    position: fixed;
    top: 150px;
  }
  .calculator-buttons {
    position: fixed;
    top: 250px;
    width: 500px;
  }
}

@media screen and (max-height: 750px) {
  .text-box {
    height: 80px;
    position: fixed;
    top: 0;
  }

  .enclosing-calculator {
    height: 680px;
  }

  .advanced-operations {
    position: fixed;
    top: 80px;
  }

  .calculator-buttons {
    position: fixed;
    top: 180px;
  }
}

@media screen and (max-height: 680px) {
  .enclosing-calculator {
    height: 580px;
  }

  .calculator-buttons {
    height: 400px;
  }
}

@media screen and (max-width: 520px) and (max-height: 803px) {
  .calculator-buttons {
    width: 400px;
  }
  .enclosing-calculator {
    height: 700px;
  }
}

@media screen and (max-width: 520px) and (max-height: 750px) {
  .enclosing-calculator {
    height: 630px;
  }
}

@media screen and (max-width: 520px) and (max-height: 680px) {
  .enclosing-calculator {
    height: 580px;
  }
}

@media screen and (max-width: 410px) and (max-height: 803px) {
  .calculator-buttons {
    width: 350px;
  }
}
